<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>HotelManagementSystem</display-name>
  <welcome-file-list>
  	<welcome-file>Welcome.html</welcome-file>
  </welcome-file-list>
	
	<!-- Module 1 -->
	<servlet>
		<display-name>RegisterNewGuest</display-name>
		<servlet-name>RegisterNewGuest</servlet-name>
		<servlet-class>controller.RegisterNewGuest</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RegisterNewGuest</servlet-name>
		<url-pattern>/RegisterNewGuest</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<display-name>UpdateExistingGuest</display-name>
		<servlet-name>UpdateExistingGuest</servlet-name>
		<servlet-class>controller.UpdateExistingGuest</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UpdateExistingGuest</servlet-name>
		<url-pattern>/UpdateExistingGuest</url-pattern>
	</servlet-mapping>
	
	<!-- Module 2 -->
	
	<servlet>
		<display-name>GetAvailableHotels</display-name>
		<servlet-name>GetAvailableHotels</servlet-name>
		<servlet-class>controller.GetAvailableHotels</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetAvailableHotels</servlet-name>
		<url-pattern>/GetAvailableHotels</url-pattern>
	</servlet-mapping>
	<servlet>
		<display-name>DisplayHotelNames</display-name>
		<servlet-name>DisplayHotelNames</servlet-name>
		<servlet-class>controller.DisplayHotelNames</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DisplayHotelNames</servlet-name>
		<url-pattern>/DisplayHotelNames</url-pattern>
	</servlet-mapping>
	
	<!-- Module 3 -->
  		
	<servlet>
		<display-name>RegisterNewBooking</display-name>
		<servlet-name>RegisterNewBooking</servlet-name>
		<servlet-class>controller.RegisterNewBooking</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RegisterNewBooking</servlet-name>
		<url-pattern>/RegisterNewBooking</url-pattern>
	</servlet-mapping>
	<servlet>
		<display-name>DisplayBookingConfirmation</display-name>
		<servlet-name>DisplayBookingConfirmation</servlet-name>
		<servlet-class>controller.DisplayBookingConfirmation</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DisplayBookingConfirmation</servlet-name>
		<url-pattern>/DisplayBookingConfirmation</url-pattern>
	</servlet-mapping>
	
	<!-- Module 4 -->
  		
	<servlet>
		<display-name>GetAllArrivalsForToday</display-name>
		<servlet-name>GetAllArrivalsForToday</servlet-name>
		<servlet-class>controller.GetAllArrivalsForToday</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetAllArrivalsForToday</servlet-name>
		<url-pattern>/GetAllArrivalsForToday</url-pattern>
	</servlet-mapping>
	<servlet>
		<display-name>GetAllDeparturesForToday</display-name>
		<servlet-name>GetAllDeparturesForToday</servlet-name>
		<servlet-class>controller.GetAllDeparturesForToday</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetAllDeparturesForToday</servlet-name>
		<url-pattern>/GetAllDeparturesForToday</url-pattern>
	</servlet-mapping>	
	
	
	<servlet>
		<display-name>DisplayAllArrivalsForToday</display-name>
		<servlet-name>DisplayAllArrivalsForToday</servlet-name>
		<servlet-class>controller.DisplayAllArrivalsForToday</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DisplayAllArrivalsForToday</servlet-name>
		<url-pattern>/DisplayAllArrivalsForToday</url-pattern>
	</servlet-mapping>
	<servlet>
		<display-name>DisplayAllDeparturesForToday</display-name>
		<servlet-name>DisplayAllDeparturesForToday</servlet-name>
		<servlet-class>controller.DisplayAllDeparturesForToday</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DisplayAllDeparturesForToday</servlet-name>
		<url-pattern>/DisplayAllDeparturesForToday</url-pattern>
	</servlet-mapping>	
  	
</web-app>